<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(#{msg.menu.home})}"></head>
<body>
<nav th:replace="~{fragments/header :: nav}"></nav>

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold" th:text="#{msg.app.name}">Gestor de Jugadores</h1>
            <p class="col-md-8 fs-4" th:text="#{msg.welcome}">Bienvenido al sistema de gestión de equipos y jugadores de la liga.</p>            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a th:href="@{/players}" class="btn btn-primary btn-lg px-4 me-md-2" th:text="#{msg.menu.players}">Jugadores</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>